<body>
<main class="form-signin">
  <form >
    <img class="mb-4" src="assets/logo.svg" alt="logo" width="100">
    <h1 class="h3 mb-3 fw-normal">Autentificare</h1>
    <div class="regular-body">Pentru a continua, te rugăm să te autentifici.</div>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="prenume.nume@student.upt.ro" >
    </div>
    <div class="form-floating password-field">
      <input type="password" class="form-control" id="password" placeholder="Parolă" >
    </div>
    <button class="w-100 primary-button" type="submit" (click)="onLogin()">Intră în cont</button>
    <a class="secondary-button" href="https://student.upt.ro/docs/Instructiuni%20resetare%20parola%20cont-UPT.pdf" style="text-decoration: none; background-color: transparent; margin-top: 10px">Ai uitat parola?</a>
    <p class="mt-5 mb-3 text-muted">Universitatea Politehnica Timișoara | 2024</p>
  </form>
</main>
</body>
