body{
  font-family: "Rubik";
  margin: auto;
  margin-top: 0;
  width:500px; height: 500px;
}
td{
  padding:14px 20px;
}
.checkbox{
  margin-top : 10px;
}

fieldset{
  margin:auto;
  margin-top:50px;
  height: 420px;
  width: 400px;
  border-color: #2E3192;
  border-radius: 10px;
}
.button-submit{
  text-align: center;
  margin:auto;
  margin-top:100px;
  display: flex;
  border-radius: 5px;

  border-color:#2E3192;


}

input{ border: 2px solid;

}
td:first-child{ width: 200px; }
.imagine-upt{
  width: 200px;
  height: 200px;
  display:flex;
  margin:auto;
}

app-dropdown-general{
  margin-left:10px;
}
.table-div {
  display: flex;
  margin-top: 30px;
  width: 50%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.table{
  width: 100%;
  border-spacing: 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.column-def{
  color: white;
  font-size: 20px;
  background-color: #2e3192 !important;
}

.head-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 50px;
}

.odd-row{
  background-color: #f2f2f2;
}
button{
  padding: 8px 16px;
  margin:2px;
  background-color: #2e3192;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  background-color: #0056b3;

}
.container-mat{
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.imagine-upt{
  margin-top:5%;
  margin-bottom:5%;
}
.button-adeverinta{
  margin-left: 5%;
  margin-bottom: 1%;
  width: 12%;
  height: 7%;
  font-size: 15px;
}
