<img class = "imagine-upt" src = "/assets/logo.svg">
<div *ngIf="showPopup" class="modal">
  <div class="modal-content">
    <span class="close" (click)="togglePopup()">&times;</span>
    <fieldset>
      <legend>Formular cerere adeverinta</legend>
      <table>
        <tr><td>Nume</td><td>{{nume}}</td></tr>
        <tr><td>Facultate</td><td>{{facultate}}</td></tr>
        <tr><td>Specializare</td><td>{{specializare}}</td></tr>
        <tr><td>Motiv eliberare</td><td>
          <input type="text" [(ngModel)]="motivValue" required minlength="4" maxlength="20" size="20" />
        </td></tr>
        <tr><td>Tip</td><td>
          <select [(ngModel)]="selectedTip">
            <option *ngFor="let tip of tips" [value]="tip">{{tip}}</option>
          </select>
        </td></tr>
      </table>
      <div class="checkbox">
        <input type="checkbox" [(ngModel)]="isChecked"> Doriti adeverinta online pe mail?
      </div>
      <button class="button-submit" (click)="onSubmit()">Submit</button>
    </fieldset>
  </div>
</div>
<button class = "button-adeverinta"(click)="togglePopup()">Solicita adeverinta</button>
<div class="container-mat">
<div class="mat-elevation-z8">
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)=announceSortChange($event)>
      <!-- Position Column -->
      <ng-container matColumnDef="Stare" >
        <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by number" class = "column-def" >Stare</th>
        <td mat-cell *matCellDef="let element">{{getStatev(element.state)}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Marca">
        <th mat-header-cell *matHeaderCellDef class = "column-def">Marca</th>
        <td mat-cell *matCellDef="let element">{{ element.student.marca }}</td>

      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="Nume complet">
        <th mat-header-cell *matHeaderCellDef class = "column-def">Nume complet</th>
        <td mat-cell *matCellDef="let element">{{element.student.lastName +" "+element.student.firstName}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Motiv">
        <th mat-header-cell *matHeaderCellDef class = "column-def">Motive Emitere</th>
        <td mat-cell *matCellDef="let element">{{element.motive}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container  matColumnDef="Actiuni">
        <th mat-header-cell  mat-sort-header matSort *matHeaderCellDef class = "column-def">PDF</th>
        <td mat-cell *matCellDef="let element" >
          <button *ngIf="element.state == 3" (click)="openPdf(element.id)">Vizualizeaza</button>
          <div *ngIf = "element.state != 3">Nu este semnat!</div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="500" [pageSize]="1" [showFirstLastButtons]="true" [pageSizeOptions]="[10,20,50]" [pageIndex]="currentPage" (page)="handlePageEvent($event)"></mat-paginator>
  </mat-card-content>
  </div>
  </div>
