<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource"  >

    <ng-container matColumnDef="Nr. Adeverinta">
      <th mat-header-cell *matHeaderCellDef class = "column-def" >Nr. Adeverinta</th>
      <td mat-cell *matCellDef="let element">{{element.number}}</td>
    </ng-container>

    <ng-container matColumnDef="Nume student">
      <th mat-header-cell *matHeaderCellDef class = "column-def" >Nume student</th>
      <td mat-cell *matCellDef="let element">{{element.student.lastName +" "+element.student.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="Facultate">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Facultate</th>
      <td mat-cell *matCellDef="let element">{{ element.student.faculty }}</td>
    </ng-container>

    <ng-container matColumnDef="Specializare">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Specialitate</th>
      <td mat-cell *matCellDef="let element">{{element.student.speciality}}</td>
    </ng-container>

    <ng-container matColumnDef="Data">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Data</th>
      <td mat-cell *matCellDef="

      let element">{{element.number}}</td>
    </ng-container>

    <ng-container matColumnDef="Motiv">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Motiv</th>
      <td mat-cell *matCellDef="let element">{{element.motive}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class = "butoane">
  <button class = "igx-no-print" (click)="printPage()">Print</button>
  <button class = "igx-no-print" (click)="goToSecretaryPage()">Inapoi</button>
</div>
