app-filter-certificate{
  display: flex;
  margin:10px;
}

.container-search-order{
  display: flex;
  padding-top:50px
}
app-search-bar{
  margin-top:8px;
}
app-dropdown-general{
  margin-bottom:10px;
}
.container-dropdowns{
  margin-bottom:10px;
}
app-dropdown-order{
  margin-left:60px;
  margin-bottom: 40px;
}
.container-filter{
  display: block;
}
img{
  width: 20px;

}


.container-filter-button{
  border: black solid;
  width: 35px;
  height: 38px;
  margin-left: 1000px;
  margin-top:10px;
  float:right;
}
app-filter-by-option{
  margin-left: 1300px;
  margin-top:50px;
  position: absolute;
  float:right;
}
.table-div {
  display: flex;
  margin-top: 30px;
  width: 80%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.table{
  width: 100%;
  border-spacing: 0;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.column-def{
  color: white;
  font-size: 20px;
  background-color: #2e3192 !important;
}

.head-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 50px;
}

.odd-row{
  background-color: #f2f2f2;
}
button{
  padding: 8px 16px;
  margin:2px;
  background-color: #2e3192;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  background-color: #0056b3;

}
