
<div class = container-filter-option>
<div class="container-filter-button">
<button class ="filter-button" (click)="togglePopupFilters()"><img src="assets/filter-icon-bun.png" alt="imagine filtre"></button>
</div>
  <app-filters [hidden]="showFilters"></app-filters>
</div>

<div class = "container-dropdowns ">
<app-dropdown-general [options]="['mock']" [titlu]="'Facultati ↓ '" (optionSelected)="onFacultyOptionSelected($event)"></app-dropdown-general>
<app-dropdown-general [options]=this.specialitiesArray [titlu]="'Specialitati ↓ '" (optionSelected)="onSpecOptionSelected($event)"></app-dropdown-general>
<!--<app-dropdown-general [options]="['1', '2', '3', '4']" [titlu]="'An ↓ '" (optionSelected)="onYearOptionSelected(Number($event),filterService.getFaculty(),filterService.getSpec())"></app-dropdown-general>-->
</div>

<div class="container-mat">
<div class="mat-elevation-z8">
  <mat-card-content>
  <table mat-table [dataSource]="dataSource"  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef class = "column-def" >Identificator</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Marca</th>
      <td mat-cell *matCellDef="let element">{{ element.student.marca }}</td>

    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Nume complet">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Nume complet</th>
      <td mat-cell *matCellDef="let element">{{element.student.lastName +" "+element.student.firstName}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Motiv">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Motive Emitere</th>
      <td mat-cell *matCellDef="let element">{{element.motive}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container  matColumnDef="Actiuni">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Actiuni</th>
      <td mat-cell *matCellDef="let element" >
        <button (click)="openPdf(element.id)">Vizualizare</button>
        <button *ngIf="element.state == 3 " (click) = "togglePopup(element.id , 'edit')">Edit</button>
        <button *ngIf="element.state !== 2"  (click)="togglePopup(element.id,'reject')">Respinge</button>
        <button *ngIf="element.state !== 1"(click)="acceptCertificate(element.id )">Accepta</button>
        <button *ngIf="element.state !==0 "(click)="togglePopup(element.id , 'revert')">Revert</button>
        <button (click)="acceptSelected()">Accept selected</button>
        <app-confirmation-pop-up *ngIf="element.state !== 0" [hidden]="!popUpVisibility[element.id]['revert']"></app-confirmation-pop-up>
        <app-card-respingere *ngIf=" popUpVisibility[element.id] && element.state == 0" [hidden]="!popUpVisibility[element.id]['reject']" [motivRespingere]="motivRespingere" [certificateId]="element.id"></app-card-respingere>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"  showFirstLastButtons="true">
  </mat-paginator>
  </mat-card-content>
</div>

  <button class ="button-raport-page" (click)="redirectToPage()">Report</button>


</div>

