
<div class = container-filter-option>
<div class="container-filter-button">
<button class ="filter-button" (click)="togglePopupFilters()"><img src="assets/filter-icon-bun.png" alt="imagine filtre"></button>
</div>
  <app-filters [hidden]="showFilters"></app-filters>
</div>

<div class = "container-dropdowns ">
<app-dropdown-general [options]=this.facultiesArray [titlu]="'Facultati ↓ '" (optionSelected)="onChange(currentPage,pageSize,this.certificateService.getToday(),this.certificateService.getWeek(),this.certificateService.getMonth(),$event,this.certificateService.getSpec(),this.certificateService.getYear(),this.certificateService.getType(),this.certificateService.getState())"></app-dropdown-general>
<app-dropdown-general [options]=this.specialitiesArray [titlu]="'Specialitati ↓ '" (optionSelected)="onChange(currentPage,pageSize,this.certificateService.getToday(),this.certificateService.getWeek(),this.certificateService.getMonth(),this.certificateService.getFaculty(),$event,this.certificateService.getYear(),this.certificateService.getType(),this.certificateService.getState())"></app-dropdown-general>
<app-dropdown-general [options]="['1', '2', '3', '4']" [titlu]="'An ↓ '" (optionSelected)="onChange(currentPage,pageSize,this.certificateService.getToday(),this.certificateService.getWeek(),this.certificateService.getMonth(),this.certificateService.getFaculty(),this.certificateService.getSpec(),$event.valueOf(),this.certificateService.getType(),this.certificateService.getState())"></app-dropdown-general>
</div>
<div class="filter-options">
  <div class="option" [class.selected]="filteredState === 0" (click)="onChange(currentPage,pageSize,this.certificateService.getToday(),this.certificateService.getWeek(),this.certificateService.getMonth(),this.certificateService.getFaculty(),this.certificateService.getSpec(),this.certificateService.getYear(),this.certificateService.getType(),0)">In asteptare</div>
  <div class="option" [class.selected]="filteredState === 1" (click)="onChange(currentPage,pageSize,this.certificateService.getToday(),this.certificateService.getWeek(),this.certificateService.getMonth(),this.certificateService.getFaculty(),this.certificateService.getSpec(),this.certificateService.getYear(),this.certificateService.getType(),1)">Acceptate</div>
  <div class="option" [class.selected]="filteredState === 2" (click)="onChange(currentPage,pageSize,this.certificateService.getToday(),this.certificateService.getWeek(),this.certificateService.getMonth(),this.certificateService.getFaculty(),this.certificateService.getSpec(),this.certificateService.getYear(),this.certificateService.getType(),2)">Respinse</div>
  <div class="option" [class.selected]="filteredState === 3" (click)="onChange(currentPage,pageSize,this.certificateService.getToday(),this.certificateService.getWeek(),this.certificateService.getMonth(),this.certificateService.getFaculty(),this.certificateService.getSpec(),this.certificateService.getYear(),this.certificateService.getType(),3)">Semnate</div>
</div>
<div class="container-mat">
<div class="mat-elevation-z8">
  <mat-card-content>
  <table mat-table [dataSource]="dataSource"  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef class = "column-def" >Identificator</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Marca</th>
      <td mat-cell *matCellDef="let element">{{ element.student.marca }}</td>

    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="Nume complet">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Nume complet</th>
      <td mat-cell *matCellDef="let element">{{element.student.lastName +" "+element.student.firstName}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Motiv">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Motive Emitere</th>
      <td mat-cell *matCellDef="let element">{{element.motive}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container  matColumnDef="Actiuni">
      <th mat-header-cell *matHeaderCellDef class = "column-def">Actiuni</th>
      <td class ="linie-actiuni" mat-cell *matCellDef="let element" >
        <button *ngIf="element.state == 1 ||element.state ==3" (click)=openPdf(element.id)>PDF</button>
        <button *ngIf="element.state == 0" (click)="patchCertificate(element.id ,1)">Accepta</button>
        <button *ngIf="element.state == 0"  (click)="togglePopup(element.id,'reject')">Respinge</button>
        <button *ngIf="element.state !==0" (click)="togglePopup(element.id , 'revert')">Revine</button>
        <button *ngIf="element.state == 0" (click)="acceptSelected()">Accepta selectate</button>
        @if(element.state == 1 && element.state != undefined){
          <button (click)="patchCertificate(element.id,3)" type="submit" [disabled]="!selectedFile">Upload</button>
          <form (ngSubmit)="onSubmit(element.id)" #fileUploadForm="ngForm">
            <label [hidden]="true" for="fileInput">Upload Signed PDF:</label>
            <input class = "button-file" type="file" id="fileInput" (change)="onFileSelected($event)" required />
        </form>
        }
        <app-confirmation-pop-up *ngIf="element.state !== 0" [hidden]="!popUpVisibility[element.id]['revert']" (save)="patchCertificate(element.id,0)"></app-confirmation-pop-up>
        <app-card-respingere *ngIf=" popUpVisibility[element.id] && element.state == 0" [hidden]="!popUpVisibility[element.id]['reject']" [motivRespingere]="motivRespingere" [certificateId]="element.id"></app-card-respingere>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    <mat-paginator [length]='totalItems' [pageSize]=pageSize [pageIndex]=currentPage></mat-paginator>
  </mat-card-content>
</div>

  <button class ="button-raport-page" (click)="redirectToPage()">Report</button>


</div>

